<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit event</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<form th:action="@{/events/edit}" th:object="${event}" method="POST">
  <table>
    <tr>-
      <td>Description</td>
      <td><input class="form-control" type="text" th:field="*{description}"
                 name="description" />
    </tr>
    <tr>
      <td>Date</td>
      <td><input class="form-control" type="text" th:field="*{date}" name="date" /></td>
    </tr>

  </table>
  <input class="btn btn-primary" type="submit" value="Update" />
</form></body>
</html>