<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:action="@{/savePerson}" th:object="${person}" method="POST">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"
                       name="firstName" />
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}" name="lastName" /></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="datetime-local" th:field="*{birthDay}" name="birthDay" /></td>
        </tr>

    </table>
    <input type="submit" value="Update" />
</form></body>
</html> 