<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<h1 style="font-size: 100px; text-align: center">HOME PAGE</h1>

<div style="text-align: center">
<p>
    <a th:href="@{/persons}" class="btn btn-link">Persons</a>
    <a th:href="@{/communities}" class="btn btn-link">Communities</a>
    <a th:href="@{/members}" class="btn btn-link">Members</a>
    <a th:href="@{/events}" class="btn btn-link">Events</a>
    <a th:href="@{/addresses}" class="btn btn-link">Addresses</a>
</p>
</div>
</body>
</html>