.buttonClass {
    font-size:60px;
    font-family:Arial;
    width:100px;
    height:100px;
    border-width:10px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    box-shadow: 24px 19px 7px 7px #8a2a21;
    text-shadow: 0px 5px 1px #810e05;
    background:linear-gradient(#c62d1f, #f24437);
}

.buttonClass:hover {
    background: linear-gradient(#f24437, #c62d1f);
}